<ion-view view-title="{{alkalom.starts | date:'medium' }} - {{alkalom.location}} / {{alkalom.tartja}}">
  <ion-content>
    <div class="row">
      <div class="col">
        <form class="list">
          <div class="item item-input-inset">
            <label class="item-input-wrapper">
              <input id="filter" type="text" placeholder="Szűrés" autofocus ng-model="search">
              <select id="varos-filter" ng-model="location" ng-options="l for l in varosok">
                <option value="">--</option>
              </select>
            </label>
            <button ng-click="addJogas(search)" ng-show="search" class="button button-small button-positive">Új jógázó</button>
          </div>
        </form>
        <ul class="list">
          <li class="item item-button-right" ng-repeat="jogas in jogasok | filter:location | filter:search | orderBy:name">
            {{jogas.name}}
            <div class="buttons">
              <a ui-sref="app.jogasokBerletek({jogasId:jogas._id})" class="button icon ion-star" title="Bérlet"></a>
              <button ng-click="addResztvevo(jogas, alkalom)" class="button icon ion-plus button-positive" title="Hozzáad"></button>
            </div>
          </li>
        </ul>
      </div>
      <div class="col">
        <h3>Résztvevők:</h3>
        <ul class="list">
          <li class="item item-button-right" ng-repeat="resztvevo in alkalom.resztvevok | orderBy:name">
            {{resztvevo.name}}
            <div class="buttons">
              <button class="button icon ion-edit" ui-turn-on="editResztvevo" ng-click="editResztvevo(resztvevo.resztvevo)" title="Részletek"></button>
              <button ng-click="removeResztvevo(resztvevo, alkalom)" class="button button-warning icon ion-minus" title="Töröl"></button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>
