<form
  name="registrationForm"
  action="sink.html" target="sink" method="post"
  ng-submit="register(credentials)">
  <div class="list">
    <label class="item item-input">
      <span class="input-label">Username:</span>
      <input type="text" name="username" ng-model="credentials.username" autofocus ng-required>
    </label>
    <label class="item item-input">
      <span class="input-label">Password:</span>
      <input type="password" name="password" ng-model="credentials.password" ng-required>
    </label>
    <label class="item item-input">
      <span class="input-label">Password repeat:</span>
      <input type="password" name="password2" ng-model="credentials.password2" ng-required>
    </label>
    <label class="item">
      <button type="submit" id="registerBtn" ng-disabled="isDisabled" class="button button-block button-positive">Register</button>
    </label>
  </div>
</form>
