<section class="section container-fluid">
  <h1>{{jogas.name}} adatai</h1>

  <form role="form">
    <div class="form-group">
      <label for="jogas-name">Név</label>
      <input id="jogas-name" class="form-control" type="text" value="{{jogas.name}}" ng-model="jogas.name" ng-required="true"/>
    </div>
    <div class="form-group">
      <label for="jogas-nick">Becenév</label>
      <input id="jogas-nick" class="form-control" type="text" value="{{jogas.nick}}" ng-model="jogas.nick"/>
    </div>
    <div class="form-group">
      <label for="jogas-email">E-mail</label>
      <input id="jogas-email" class="form-control" type="text" value="{{jogas.email}}" ng-model="jogas.email"/>
    </div>
    <div class="form-group">
      <label for="jogas-city">Város:</label>
      <select id="jogas-city" class="form-control" ng-model="jogas.city" ng-options="l for l in varosok" ng-required="true"></select>
    </div>
    <div class="form-group">
      <label for="jogas-note">Egyéb:</label>
      <textarea id="jogas-note" class="form-control" ng-model="jogas.note" placeholder="Hogyan talált ide? Van-e valami sérülése?"></textarea>
    </div>
    <button class="btn btn-primary" ng-click="save(jogas)">Ment</button>
    <button type="reset" class="btn btn-warning">Mégse</button>
    <a ng-href="#/jogasok/{{jogas._id}}/berlet" class="btn">Bérletek</a>
    <a href="#/jogasok/{{jogas._id}}/alkalmak" class="btn">Történet</a>
  </form>
</section>
