<h4 class="modal-title">Bejelentkezés</h4>
<form
  name="registrationForm"
  action="sink.html" target="sink" method="post"
  ng-submit="register(credentials)"
  novalidate>
  <label for="username">Username:</label>
  <input type="text" id="username"
         ng-model="credentials.username">
  <label for="password">Password:</label>
  <input type="password" id="password"
         ng-model="credentials.password">
  <label for="password2">Password repeat:</label>
  <input type="password" id="password2"
         ng-model="credentials.password2">
  <button type="submit">Register</button>
</form>
<iframe src="/sink.html" name="sink"
        style="display:none"></iframe>
